.advantages {
  &__wrapper {
    background-color: #003F73;
  }

  &__list {
    @include listReset();

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 1.5rem;

    background-color: #ffffff;

    @include respond-above(md) {
      padding: 4.5rem;
      max-width: 80vw;
    }
  }

  &__marker {
    line-height: 6px;
    font-size: 11px;

    color: #161616;

    opacity: 0.6;

    text-transform: uppercase;
  }

  &__number {
    line-height: 48px;
    font-size: 48px;
    font-weight: 600;

    color: #005BA6;
  }

  &__unit {
    line-height: 6px;
    font-size: 11px;

    color: #005BA6;
  }

  &__text {
    line-height: 20px;
    font-size: 15px;

    color: #161616;

    opacity: 0.7;
  }
}

.advantages__item {
  width: 100%;
  padding: 0 1rem;

  @include respond-above(md) {
    width: calc(100% / 3);
    padding: 0 3rem;
  }

  &:not(:last-child) {
    border-right: 1px solid rgba(22, 22, 22, 0.02);
  }
}