.services {
  background-color: #003F73;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;

    @include respond-above(md) {
      margin-bottom: 0;
    }
  }

  &__item {
    padding: 3rem 2rem;
    width: 100%;
    background-color: #003F73;

    display: flex;
    flex-direction: column;

    @include respond-above(md) {
      padding: 5rem;
      width: 50%;
    }

    &--dark {
      background-color: #003662;
    }
  }

  &__marker {
    margin-bottom: 20px;
  }

  &__title {
    order: 1;
    margin-bottom: 30px;
    max-width: 440px;
  }

  &__link {
    order: 1;
  }

  &__text {
    order: 1;
    max-width: 320px;
    margin: 0;
    margin-bottom: 40px;

    line-height: 23px;
    font-size: 15px;

    color: #FFFFFF;
  }
}