$color-title: #FAFAFA;

.title {
  margin: 0;
  display: inline-block;
  line-height: normal;

  font-family: $fontOS;  

  @include ff('font-size', (375px: 24px, 1440px: 42px));

  @include respond-above(md) {
    line-height: 22px;

        letter-spacing: 1.8px;
  }

  @include respond-above(lg) {
    line-height: 42px;
  }

  &--white {
    color: $color-title;
  }
}

.title-2 {
  margin: 0;
  display: inline-block;
  line-height: normal;

  font-family: $fontOS;

  @include ff('font-size', (375px: 20px, 1440px: 36px));

  @include respond-above(lg) {
    line-height: 41px;
  }

  &--white {
    color: $color-title;
  }
}

.title-3 {
  margin: 0;
  display: inline-block;
  line-height: normal;

  font-family: $fontOS;

  color: #1F1F1F;

  @include ff('font-size', (375px: 20px, 1440px: 36px));

  @include respond-above(lg) {
    line-height: 19px;
  }
}